flow.json
[
    {
        "id": "2a0f835b6a8e24e6",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "flow333",
                "value": "hoge",
                "type": "str"
            }
        ]
    },
    {
        "id": "d56417a6b9cb0751",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a7a2f29526d4dc43",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9cd668a3785bd32f",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "a7a2f29526d4dc43",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "715647cde3801c6b",
        "type": "change",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "annotatedInput",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "38ed41eebf507337"
            ]
        ]
    },
    {
        "id": "48201ee5a0608fa8",
        "type": "cocossd",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "a3bd9973d9673094",
                "0c248737fed903b9",
                "715647cde3801c6b",
                "3662f756b46884e2"
            ]
        ]
    },
    {
        "id": "a3bd9973d9673094",
        "type": "ui_text",
        "z": "2a0f835b6a8e24e6",
        "group": "9cd668a3785bd32f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hogeohgoe:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "04513908b3c740dd",
        "type": "ui_toast",
        "z": "2a0f835b6a8e24e6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "0c248737fed903b9",
        "type": "ui_toast",
        "z": "2a0f835b6a8e24e6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "38ed41eebf507337",
        "type": "ui_webcam",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "group": "9cd668a3785bd32f",
        "order": 1,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "png",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "04513908b3c740dd",
                "48201ee5a0608fa8",
                "c216a105a3203643"
            ]
        ]
    },
    {
        "id": "c216a105a3203643",
        "type": "debug",
        "z": "2a0f835b6a8e24e6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 320,
        "wires": []
    },
    {
        "id": "3662f756b46884e2",
        "type": "debug",
        "z": "2a0f835b6a8e24e6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    }
]