flow.json
[
    {
        "id": "2a0f835b6a8e24e6",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "flow333",
                "value": "hoge",
                "type": "str"
            }
        ]
    },
    {
        "id": "b2df9dfabfcfb792",
        "type": "inject",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "7d60e38e1509f654"
            ]
        ]
    },
    {
        "id": "7d60e38e1509f654",
        "type": "function",
        "z": "2a0f835b6a8e24e6",
        "name": "function 1",
        "func": "msg.payload = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 360,
        "wires": [
            [
                "64e6a3d418ed0704",
                "760a9d399398980c"
            ]
        ]
    },
    {
        "id": "64e6a3d418ed0704",
        "type": "template",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "760a9d399398980c",
        "type": "debug",
        "z": "2a0f835b6a8e24e6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "2fe9b4499f985942",
        "type": "inject",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "02576243207aaa2b"
            ]
        ]
    },
    {
        "id": "34e853dc8342a9e1",
        "type": "debug",
        "z": "2a0f835b6a8e24e6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "02576243207aaa2b",
        "type": "exec",
        "z": "2a0f835b6a8e24e6",
        "command": "echo $PATH",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "34e853dc8342a9e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "0604b54f871b4397",
        "type": "cocossd",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "715647cde3801c6b",
                "a3bd9973d9673094",
                "0c248737fed903b9"
            ]
        ]
    },
    {
        "id": "715647cde3801c6b",
        "type": "change",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "annotatedInput",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "38ed41eebf507337"
            ]
        ]
    },
    {
        "id": "a3bd9973d9673094",
        "type": "ui_text",
        "z": "2a0f835b6a8e24e6",
        "group": "ab397e95.29ebe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "result:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "04513908b3c740dd",
        "type": "ui_toast",
        "z": "2a0f835b6a8e24e6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "0c248737fed903b9",
        "type": "ui_toast",
        "z": "2a0f835b6a8e24e6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "38ed41eebf507337",
        "type": "ui_webcam",
        "z": "2a0f835b6a8e24e6",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 1,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": false,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "png",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "0604b54f871b4397",
                "04513908b3c740dd"
            ]
        ]
    }
]